img {
    position: relative; 
    margin-top: 50px;
    margin-bottom: 50px;
    width: 1400px;
    height: 350px;
}
body {
    background: linear-gradient(11deg, #e5e8eb, #000508);
}
header {
    background-color: rgb(0, 0, 0);
    padding: 20px;

}

.produto-container{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
a {
    color: azure;
    text-decoration: none;
}
h1 {
    color: rgb(253, 93, 0);
    text-align: center;
    font-size: 110px;
    
}
h2 {
    color: rgb(253, 194, 0);
    text-align: center;
    font-size: 40px;
}
.center {
    text-align: center;
}
.texto {
    text-align: center;
    font-size: 110px;
    text-decoration: rgb(251, 255, 0);
}
@media screen and (max-width: 768px){
    .produto-container{
        width:100%;
        flex-direction: column;
    }
}